
{% extends "parent/child_base.html" %}

{% load has_perms %}

{% block title %}Profile - {{ block.super }}{% endblock %}

{% block content %}

{# {% for child in view.child %} #}

  <h1>{{ view.child.name }}</h1>


<ul>
<li><p style ="color:orange">Age: {{ view.child.age }}</p></li>
<li><p style ="color:green">Avatar: {{ view.child.avatar }}</p></li>
<li><p style ="color:blue">Target Reward: {{ view.child.target_reward }}</p></li>
<li><a href="{% url 'child-profile-update' view.child.id%}">Edit</a></li>
{# <li><a href="{% url 'child-delete' child.id %}">Delete</a></li> #}
</ul>

{# {% endfor %} #}

{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


