{% extends "base.html" %}
{% load static %}

{% block title %} {{ block.super }}{% endblock %}
{% block sidenav%}
{{ block.super }}
{% endblock %}
<!-- Here we can overwrite sidenav or topnav, if needed for parent -->
    {% block topnav %}
        {{ block.super }}
        <ul class="nav navbar-nav flex-nowrap ml-auto">
        {% if user.is_authenticated %}
            {% if view.child.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'child-dashboard'%}"><i class="fas fa-tachometer-alt"></i><span>Dashboard</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'child-profile' %}"><i class="fas fa-user"></i><span>Profile</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'child-tasks'%}"><i class="fas fa-table"></i><span>My Tasks</span></a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'child_earned_rewards'%}"><i class="far fa-user-circle"></i><span>My Rewards</span></a></li>

            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout'%}"><i class="far fa-user-circle"></i><span>Back to Parent Dashboard</span></a></li>
            {% endif %}




        {% else %}
            <li class="nav-item"><a class="nav-link " href="{% url 'login'%}?next={{request.path}}">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
        {% endif %}
                                </ul>
                    <ul class="nav navbar-nav flex-nowrap ml-auto">

                    {% if view.child.is_authenticated %}
<li class="nav-item"><a class="nav-link" href="{% url 'child-rewards'%}">
                    {% if view.child.target_reward %}
                        <label for="reward">{{view.child.target_reward}}&nbsp;&nbsp;&nbsp;</label>
                        <progress id="reward" value="{{view.child.current_points}}" max='{{view.child.target_reward.cost}}'>{{view.child.current_points}} </progress>
                    {% else %}
                        <label for="reward">No Goal Set</label>
                        <progress id="reward" value="0" max='0'> 0% </progress>
                    {% endif%}
                    &nbsp;&nbsp;&nbsp;<i class="fas fa-certificate">{{view.child.current_points}}</i>


                    {% endif %}
</a></li>
                    {% if user.is_authenticated %}

                            {% if view.child.is_authenticated %}
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow">
                                        <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-1 text-gray-600 small">{{view.child.name}}</span>
                                        <img class="border rounded-circle img-profile" src="{{view.child.avatar.url}}">

                                        </a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="{% url 'child-profile'%}"><i class="fas fa-user fa-sm fa-fw mr-1 text-gray-400"></i>&nbsp;Profile</a><a class="dropdown-item" href="{% url 'child-profile-update' view.child.id%}"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                            <div class="dropdown-divider"></div><a class="dropdown-item" href="{% url 'pre_child_login'%}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-1 text-gray-400"></i>&nbsp;Logout/Switch Profile</a>
                                        </div>
                                    </div>
                                </li>
                            {% else %}
                                <div class="d-none d-sm-block topbar-divider"></div>
                                <li class="nav-item dropdown no-arrow">
                                    <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-1 text-gray-600 small">{{user.username}}</span><img class="border rounded-circle img-profile" src="/media/default.jpg"></a>
                                        <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="{% url 'logout'%}"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-1 text-gray-400"></i>&nbsp;Access Parent Dashboard</a>
                                        </div>
                                    </div>
                            </li>
                            {% endif %}
                    {% endif %}
                        </ul>

    {% endblock %}
{% block content %}
{{ block.super }}
{% endblock %}
