
{% extends "parent/child_base.html" %}

{% load has_perms %}

{% block title %}Update Child Profile - {{ block.super}} {% endblock %}

{% block content %}

  <h1>Update Profile</h1>

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->


        <form action="" method="post">
            {% csrf_token %}
            <table>
                {% for field in form %}
                    <tr>
                        <td>{{ field.label_tag }}</td>
                        <td>
                            {{ field.errors }}
                            {{ field }}                            
                        </td>
                        <td>
                            {% if field.help_text %}
                            {{ field.help_text }}
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Submit"></td>
                    </tr>
            </table>
        </form>   


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


