
{% extends "parent/child_base.html" %}

{% load has_perms %}

{% block title %}Reward - {{ block.super }} {% endblock %}

{% block content %}

<h1>Your Current Point Balance = {{view.child.current_points}} </h1>

<h1 style="color:#ebbc02">Reward</h1>

<ul>
<li>Reward: {{ reward.name }}</li>
<li>Points: {{ reward.cost }}</li>
<li>Image: {{ reward.image }}</li>
<li><a href="{% url 'reward-buy' reward.id%}">Buy!</a></li>
</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


