
{% extends "parent/parent_base.html" %}


{% load has_perms %}


{% block title %} Children - {{ block.super }} {% endblock %}

{% block content %}
{{ block.super }}

  <h1><p style=" color:#27AE60; margin-left: 15px"> Children </h1>
<ul style="margin-left: 15px">
<li><a  href="{% url 'child-add' %}">Add a Child</a></li>
</ul>
<table  class="table table-bordered">
  <thead>
    <tr>
      <th style=" color:#27AE60;" >Child Name</th>
      <th style=" color:#27AE60;" >Age</th>
      <th style=" color:#27AE60;" >Comprehension Level</th>
      <th style=" color:#27AE60;">Current Points</th>
      <th style=" color:#27AE60;">Target Reward</th>
      <th style=" color:#27AE60;">Action</th>
    </tr>
  </thead>
  <tbody>
    {% for child in object_list %}
      <tr>
        <td><a href="{% url 'child' child.id %}">{{child.name}}</a></td>
        <td>{{ child.age }}</td>
        <td>{{ child.comp_level }}</td>
        <td>{{ child.current_points }}</td>
        <td>{{ child.target_reward }}</td>
        <td><a href="{% url 'child-update' child.id %}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %}

{% endblock %}





{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


