 {% extends "parent/child_base.html" %} {% load has_perms %} {% block title %} Child Rewards {{ block.super }} {% endblock %} {% block content %}

<h1 style="color:#D4AF37;margin-left: 10px;">Avalailable Rewards</h1>

<p><a style="color:#D4AF37;margin-left: 15px;" href="{% url 'child_earned_rewards' %}">Check your earned rewards</a></p>

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>

    <tr>
      <th style="color:#D4AF37;">Reward Name</th>
      <th style="color:#D4AF37;">Reward Value</th>
      <th style="color:#D4AF37;">Action</th>
    </tr>

        </thead>
        <tbody>
        {% for reward in view.rewards %}
        <tr>
            <td><a href="{% url 'child-reward' reward.id %}">{{reward.name}}</a></td>
            <td>{{ reward.cost }}</td>
            <td><button type="button" class="btn btn-warning" onclick="location.href=&quot;{% url 'reward-buy' reward.id%}&quot;"><i class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center">&nbsp;Buy!</i></button>
                    </td>
        </tr>
        {% endfor %}

            </tr>


        </tbody>
    </table>

{% block pagination %} {% if is_paginated %}
<div class="pagination">
    <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span> {% if page_obj.has_next %}
    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a> {% endif %}
    </span>
</div>
{% endif %} {% endblock %} {% endblock %} {% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}
