
{% extends "parent/parent_base.html" %}


{% load has_perms %}


{% block title %} Rewards {% endblock %}

{% block content %}

  <h1>Parents</h1>

<ul>
    {% for parent in object_list %}
        <!-- code to iterate across each reward -->
        <li>
            <a href="{% url 'parent' parent.id %}"> - {{parent.name}}</a> - <a href="{% url 'parent-update' parent.id%}">Edit</a>
        </li>
    {% endfor %}
</ul>
<p><a href="{% url 'child-add' %}">Add a Parent</a></p>


{% endblock %}


{% block pagination %}
    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
  {% endblock %} 





{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


