
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Reward{% endblock %}

{% block content %}

  <h1>Reward</h1>

<p> Here we will need to pull the details of a reward. The reward id or instance will need to be passed with the http request. There will be a button to edit the reward that will take user to the edit reward view.</p>
<ul><h2>Reward</h2>
<li>Movie Night</li>
<li>One movie with popcorn with the family</li>
<li>20 points</li>
<li><a href="{% url 'edit_task'%}">Edit Task</a></li>
</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


