
{% extends "parent/parent_base.html" %}


{% load has_perms %}


{% block title %} Rewards {% endblock %}

{% block content %}

  <h1>Rewards</h1>

<ul>
<li>Available Rewards</li>
<li>
    <a href="{% url 'reward'%}">Movie Night</a> - <a href="{% url 'edit_reward'%}">Edit Task</a>
</li>
<li>
    <a href="{% url 'reward'%}">Free Screen Time</a> - <a href="{% url 'edit_reward'%}">Edit Reward</a>
</li>
<li>
    <a href="{% url 'reward'%}">Sleep Over</a>-<a href="{% url 'edit_reward'%}">Edit Reward</a></li>
<li>...</li>

</ul>


<!--<li>Children Rewards (earned/in progress/points)</li>-->
<!--<li>...</li>-->
<!--<li>...</li>-->
<!--<li>...</li>-->
<!--<li>...</li>-->
<!--<li>...</li>-->
<!--<li>...</li>-->

</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


