
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %} Parent Dashboard{% endblock %}

{% block content %}

  <h1>Parent Settings</h1>
<p>All the configurable elements will be pulled from DB and displayed in editable forms fields. A Save button will write changes to the DB. </p>
<ul>
<li>Change Password</li>
<li>Manage Sources</li>
<li>Manage Children</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>

</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


