
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Settings{% endblock %}

{% block content %}

  <h1>Settings</h1>
<p>All the configurable elements will be pulled from DB and displayed in editable forms fields. A Save button will write changes to the DB. </p>


<br />
<br />
<br />


<h2> Profile </h2>

{% for parent in view.parent %}

{% if parent.user_id == user.id %}
<ul>
    <li>{{parent.name}} - <a href="{% url 'parent-update' parent.id %}">Change Name</a></li>
    <li>{{user.email}} - <a href="{% url 'parent-update' parent.id %}">Change Email</a></li>
</ul>


{% else %}
    <a href="{% url 'parent-add' %}">Set Your Name</a>

{% endif %}

{% endfor %}


<br />
<br />
<br />



  <h2>Children</h2>

<p><a href="{% url 'child-add' %}">Add a Child</a></p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Child Name</th>
      <th>Age</th>
      <th>Comprehension Level</th>
      <th>Current Points</th>
      <th>Target Reward</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for child in view.children %}
      <tr>
        <td><a href="{% url 'child' child.id %}">{{child.cname}}</a></td>
        <td>{{ child.age }}</td>
        <td>{{ child.comp_level }}</td>
        <td>{{ child.current_points }}</td>
        <td>{{ child.target_reward }}</td>
        <td><a href="{% url 'child-update' child.id%}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>

<br />
<br />
<br />


  <h2>Rewards</h2>
<p><a href="{% url 'reward-add' %}">Add a Reward</a></p>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Reward Name</th>
      <th>Reward Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for reward in view.rewards %}
      <tr>
        <td><a href="{% url 'reward' reward.id %}">{{reward.rname}}</a></td>
        <td>{{ reward.cost }}</td>
        <td><a href="{% url 'reward-update' reward.id%}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>




<br />
<br />
<br />


  <h2>Tasks</h2>

<p><a href="{% url 'task-add' %}">Add a Task</a></p>


<table class="table table-bordered">
  <thead>
    <tr>
      <th>Task</th>
      <th>Owner</th>
      <th>Status</th>
      <th>Point Value</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for task in view.tasks %}
      <tr>
        <td><a href="{% url 'task' task.id %}">{{task.tname}}</a></td>
        <td>{{ task.owner_id }}</td>
        <td>{{ task.status }}</td>
        <td>{{ task.point_value }}</td>
        <td><a href="{% url 'task-update' task.id%}">Edit</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


