
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Settings - {{ block.super }} {% endblock %}

{% block content %}

  <h1><p style="margin-left: 15px"> Settings</h1>


  <h2> <p style="margin-left: 25px">Zip Code</h2>

    <table class="table table-bordered">
<!--
      <thead>
        <tr>
          <th>Username</th>
          <th>Zip Code</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
-->

	    {% if view.parent.user ==  user %}
	    <tbody>
	      <tr>
<!--
	        <td>{{view.parent.user.username}}</td>
-->
	        <td>{{view.parent.zip_code}}</td>
<!--
          <td>{{view.parent.user.email}}</td>
-->
	        <td><a href="{% url 'profile-update' %}">Edit Zip Code</a></td>

	      </tr>
	    {% endif %}

    </tbody>
    </table>


          <h2> <p style="margin-left: 15px"> Children</h2>

          <p><a style="margin-left: 25px" href="{% url 'child-add' %}">Add a Child</a></p>

        {% if view.children %}

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Child Name</th>
                <th>Age</th>
                <th>Comprehension Level</th>
                <th>Current Points</th>
                <th>Target Reward</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
          {% for child in view.children %}
            <tr>
              <td><a href="{% url 'child' child.id %}">{{child.name}}</a></td>
              <td>{{ child.age }}</td>
              <td>{{ child.comp_level }}</td>
              <td>{{ child.current_points }}</td>
              <td>{{ child.target_reward }}</td>
              <td><a href="{% url 'child-update' child.id%}">Edit</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}


          <h2> <p style="margin-left: 15px"> Locations</h2>

          <p><a style="margin-left: 25px" href="{% url 'location-add' %}">Add a Location</a></p>

        {% if view.locations %}

          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Location Name</th>
                <th>Location Type</th>
                <th>Location Address</th>
                <th>Action</th>
              </tr>
            </thead>
          <tbody>
          {% for location in view.locations %}
            <tr>
              <td><a href="{% url 'location' location.id %}">{{location.name}}</a></td>
              <td>{{ location.location_type }}</td>
              <td>{{ location.address }}</td>
              <td><a href="{% url 'location-update' location.id%}">Edit</a></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}


    <h2> <p style="margin-left: 15px"> Rewards</h2>
    <p><a style="margin-left: 25px" href="{% url 'reward-add' %}">Add a Reward</a></p>



    {% if view.rewards %}
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reward Name</th>
          <th>Reward Value</th>
          <th>Action</th>
        </tr>
      </thead>
    <tbody>
    {% for reward in view.rewards %}
      <tr>
        <td><a href="{% url 'reward' reward.id %}">{{reward.name}}</a></td>
        <td>{{ reward.cost }}</td>
        <td><a href="{% url 'reward-update' reward.id%}">Edit</a></td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
    {% endif %}


     <h2> <p style="margin-left: 15px"> Tasks</h2>
    <h5> <p style="margin-left: 15px"> Link Calendar and Task List</h5>
	<ul>
    <li>
    {% if view.parent.account_creds %}
      Account Linked Successfully! ->
      <a href="{% url 'google_oauth' %}" >Link Again</a>
    {% else %}
      <a href="{% url 'google_oauth' %}" >Link Google Account</a>
    {%endif %}
    </li>
        {% if view.parent.account_creds %}
    <li>

          <a href="{% url 'pull_tasks' %}" >Get Calendar Events and Tasks</a>
              </li>
        {% else %}

        {% endif %}



  </ul>
  <h5><a style="margin-left: 20px" href="{% url 'original_task-add' %}">Add Task</a></h5>
  <h5> <a style="margin-left: 20px" href="{% url 'task-add' %}">Add Task by Form</a></h5>





{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


