
{% extends "base.html" %}

{% block title %} Tasks and Events {% endblock %}

{% block content %}

  <h1>Tasks and Events</h1>

<ul><h2>Tasks</h2>
<li>Do Dishes</li>
<li>Manage Sources</li>
<li>Manage Children</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>

</ul>


<ul><h2>Events</h2>
<li>Soccer practice at 5</li>
<li>Band Practice</li>
<li>School</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>
<li>...</li>

</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


