
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Task{% endblock %}

{% block content %}

  <h1>Task</h1>

<ul>
<li>Task: {{ task.tname }}</li>
<li>Description: {{ task.tdesc }}
<li>Points: {{ task.point_value }}</li>
<li>Image: {{ task.timage }}</li>
<li>Owner: {{ task.owner }}</li>
<li><a href="{% url 'task-update' task.id%}">Edit</a></li>
<li><a href="{% url 'task-delete' task.id%}">Delete</a></li>
</ul>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


