
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %} Tasks {% endblock %}

{% block content %}

  <h1>Tasks</h1>

<p> Here we will need to pull the tasks from the DB and display one task per line using a for loop. Each line will be a link to a Task View page and there will be a button to edit the Task</p>
<ul><h2>Tasks</h2>
<li>
    <a href="{% url 'task'%}">Do Dishes</a> - 
    <a href="{% url 'edit_task'%}">Edit Task</a>
</li>
<li>
    <a href="{% url 'task'%}">Sweep Floor</a> - 
    <a href="{% url 'edit_task'%}">Edit Task</a>
</li>
<li>
    <a href="{% url 'task'%}">Band Practice</a> - 
    <a href="{% url 'edit_task'%}">Edit Task</a></li>
<li>...</li>

</ul>




{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


