
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Update Profile - {{ block.super}} {% endblock %}

{% block content %}

  <h1><p style="color:#5DADE2; margin-left: 10px;"> Update Profile</h1> </p>

<!--<form method="post">-->
<!--    {% csrf_token %}-->
<!--    {{ form.as_p }}-->
<!--    <input type="submit" value="Save">-->
<!--</form>-->

<form method="POST">
                                    {% csrf_token %}
                                    <p style="color:#5DADE2; margin-left: 10px;"> Zip Code: <input id="zipcode" name='zip_code' type="text"> 
                                    <input type="submit" value="Update"></p>
                                </form>



{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


