{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-7">
    <meta name="viewport" content="width=device-width, initial-scale=2.0, shrink-to-fit=no">
    <title>{% block title %}Kiddy-Up{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}" media="screen">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:201,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome-all.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/fonts/font-awesome.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/fonts/fontawesome6-overrides.min.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'assets/css/taskntodo.css' %}" media="screen">
</head>

<body id="page-top">
    <div id="wrapper">
        {% block sidenav %}
        {% endblock %}
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content">
                <nav class="navbar navbar-light navbar-expand bg-white shadow mb-3 topbar static-top">
                    <div class="container-fluid">
                        {% block topnav %}

                        <a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m1" href="{% url 'login-redirect' %}">
                            <div class="sidebar-brand-icon rotate-n-14"><img src="https://www.cs.odu.edu/~dchamber/webimages/icon.png" width="30" height="30"></div>
                            <div class="sidebar-brand-text mx-2"><span>kiddy-up</span></div>
                        </a>
<ul class="nav navbar-nav flex-nowrap ml-auto">


                        {% if not user.is_authenticated %}
    <li class="nav-item"><a class="nav-link " href="{% url 'login'%}?next={{request.path}}">Login</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
    <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact Us</a></li>
    {% else %}
    {% endif %}
</ul>
                        {% endblock %}
                    </div>
                </nav>
                <div id="content">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <footer class="bg-white sticky-footer">
                <div class="container my-auto">
                    <div class="text-center my-auto copyright"><span>Copyright © Kiddy-Up 2021</span></div>
                </div>
            </footer>
        </div>

        <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>

    </div>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/chart.min.js' %}"></script>
    <script src="{% static 'assets/js/bs-init.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/2.4.1/jquery.easing.js"></script>
    <script src="{% static 'assets/js/theme.js' %}"></script>
</body>

</html>
