
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Child - {{ block.super }} {% endblock %}

{% block content %}

<center>
  <h1>Child</h1>

<p>
<p>Name: {{ child.name }}</p>
<p>Age: {{ child.age }}</p>
<p>Avatar: {{ child.avatar }}</p>
<p>Comprehension: {{ child.comp_level }}</p>
<p><a href="{% url 'child-update' child.id %}">Edit</a></p>
{# <p><a href="{% url 'child-delete' child.id %}">Delete</a></p> #}

</p>
</center>

{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


