
{% extends "parent/parent_base.html" %}

{% load has_perms %}

{% block title %}Location - {{ block.super }} {% endblock %}

{% block content %}

  <h1 style="color:#F39C12; margin-left: 10px">Delete Location</h1>


<form method="post">{% csrf_token %}
    <p style="color:#F39C12; margin-left: 25px">Are you sure you want to delete the <u style="color:blue;">"{{ object }}"</u> location?</p>
    <input type="submit" value="Confirm">
</form>


{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


