* {
  font-family: 'Raleway', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  font-family: 'Raleway', sans-serif;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#example {
  margin-bottom: 0;
}

#example {
  margin-bottom: 0;
}

.btn {
  margin: 0px 10px;
  margin-bottom: 20px;
}

i, span {
  display: inline-block;
}

i, span {
  display: inline-block;
}

