{% extends "base.html" %}

{% block title %} Login{% endblock %}

{% block content %}

<h1>Login</h1>

    <div>
            <form method="post">
                <h2 class="text-center">Login</h2>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
                <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
    </div>


<p> No Account? <a href="{% url 'register' %}">Register here</a></p>

{% endblock %}


{% block sidebar_content %}
<!-- no sidebar for registration page -->
{% endblock %}


